@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@plugin "@tailwindcss/typography";

@theme {
  /* Font Families */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Cinzel", serif;

  /* Classic Gold Brand Palette */
  --color-primary: #c8ae7d;
  /* Premium Metallic Gold */
  --color-primary-hover: #b09460;
  /* Darker Antique Gold */
  --color-secondary: #d4bc8b;
  /* Champagne Gold */
  --color-accent: #c8ae7d;
  /* Consistent Gold Accents */

  /* UI Surfaces & Backgrounds */
  --color-surface: #121212;
  /* Dark Grey Surface (Cards) */
  --color-background: #050505;
  /* Deep Black Background */

  /* Text Colors */
  --color-text-main: #ffffff;
  /* Heading White */
  --color-text-muted: #94a3b8;
  /* Slate 400 Body */
  --color-on-primary: #050505;
  /* Black text for Gold buttons */

  /* Custom Gradient for "Classic Gold" look */
  --background-image-gold-gradient: linear-gradient(135deg, #c8ae7d 0%, #d4bc8b 50%, #b09460 100%);
}

@utility text-gold-gradient {
  background-image: var(--background-image-gold-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  /* Ensures the gradient wraps correctly to the text */
}

@utility fill-gold-gradient {
  background-image: var(--background-image-gold-gradient);
  /* This masks the background into the shape of the icon/element */
  mask-image: linear-gradient(#fff, #fff);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;

  /* Fallback for most modern browsers */
  background-clip: padding-box;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-background text-slate-300 antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight text-primary font-serif uppercase;
}

h1 {
  @apply text-[20px] font-semibold;
}

h2 {
  @apply text-[18px] font-semibold;
}

h3 {
  @apply text-[15px] font-semibold;
}

[v-cloak] {
  display: none;
}


button:hover {
  cursor: pointer !important;
}

button:disabled {
  cursor: not-allowed !important;
}


input[type="checkbox"] {
  @apply w-5 h-5;
  @apply accent-primary;
  @apply bg-white/5;
}