@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Cinzel', serif;
  
  /* Brand Palette (Luxury Muted Gold & Black) */
  --color-primary: #C8AE7D; /* Premium Metallic Gold */
  --color-primary-hover: #B09460; /* Darker Antique Gold */
  --color-secondary: #D4BC8B; /* Champagne Gold */
  --color-accent: #C8AE7D; /* Consistent Gold Accents */
  
  --color-surface: #121212; /* Dark Grey Surface */
  --color-background: #050505; /* Black Background */
  --color-text-main: #ffffff; /* White for headings */
  --color-text-muted: #94a3b8; /* Slate 400 for body */
  --color-on-primary: #050505; /* Black text on Gold */
}

body {
    font-family: 'Inter', sans-serif;
    @apply bg-background text-slate-300 antialiased;
}

h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight text-primary font-serif uppercase;
}

h1{
  @apply text-[20px] font-semibold;
}

h2 {
  @apply text-[18px] font-semibold;
}

h3{
  @apply text-[15px] font-semibold;
}
[v-cloak] {
  display: none;
}


button:hover {
  cursor: pointer !important;  
}

button:disabled {
  cursor: not-allowed !important;
}


input[type="checkbox"] {
  @apply w-5 h-5;
  @apply accent-primary;
}